/app/web/target
/app/endpoint/target
/.idea
/app/web/web-app-web.iml
/web-app-parent.iml
/app/.idea/workspace.xml
/app/web/0x110.parse.html
/app/endpoint/web-app-endpoint.iml

*.log
**/logs
**/target/
/processor/processor.iml
