<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <link rel="shortcut icon" href="/favicon.ico"/>

    <style>
        @import url('/lib/element-ui/theme-chalk/index.css');

        body {
            width: 98%;
            margin: 10px auto;
        }

        h1 {
            color: #333;
        }

        .log {
            color: #999;
            font-size: 12px;
        }

        p {
            color: #999;
            font-size: 12px;
        }

        [contenteditable="true"]:empty:before {
            content: attr(placeholder);
            display: block;
            color: #ccc;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }

        .float-right {
            float: right;
        }

        .fixed-bottom {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align: center;
        }

        .link {
            margin-right: 30px;
        }

        pre {
            white-space: pre-wrap;
            word-wrap: break-word;
        }
    </style>
</head>

<body>
<div id="app" v-cloak>
    <div style="min-height: 72vh;">
        <h1>R&D Message Test</h1>
        <p>ISO8583 CUPS</p>
        <el-select v-model="select" @change="v=>request=v" placeholder="Select a template">
            <el-option
                    v-for="item in options"
                    :key="item.label"
                    :label="item.label"
                    :value="item.value">
            </el-option>
        </el-select>
        <el-row style="margin-top:10px;margin-bottom: 20px">
            <el-col :span="17">
                <el-table
                        ref="multipleTable"
                        :data="fields.filter(data =>  !hide || request[data.no] || response[data.no])"
                        tooltip-effect="dark"
                        border
                        style="width: 100%"
                        @selection-change="handleSelectionChange">
                    <el-table-column
                            type="selection"
                            width="40">
                    </el-table-column>
                    <el-table-column
                            label="Field"
                            width="100">
                        <template slot-scope="scope"><h2>{{ scope.row.no }}</h2></template>
                    </el-table-column>
                    <el-table-column
                            prop="desc"
                            label="Desc"
                            show-overflow-tooltip>
                        <template slot-scope="scope"><h2>{{ scope.row.desc }}</h2></template>
                    </el-table-column>
                    <el-table-column
                            label="Format"
                            show-overflow-tooltip
                            width="200">
                        <template slot-scope="scope"><h2>
                            {{ scope.row.type + (scope.row.fixed ? "" : "..") + scope.row.length + (scope.row.format ? "(" + scope.row.format + ")" : "")
                            }}</h2></template>
                    </el-table-column>
                    <el-table-column
                            label="Request Value">
                        <template slot-scope="scope">
                            <el-input width="350" size="large" v-model="request[scope.row.no]"></el-input>
                        </template>
                    </el-table-column>
                    <el-table-column
                            label="Response Value">
                        <template slot-scope="scope">
                            <el-input width="350" size="large" v-model="response[scope.row.no]"></el-input>
                        </template>
                    </el-table-column>
                </el-table>
                <!--                <div style="margin-top: 20px">-->
                <!--                    <el-button @click="toggleSelection([tableData[1], tableData[2]])">切换第二、第三行的选中状态</el-button>-->
                <!--                    <el-button @click="toggleSelection()">取消选择</el-button>-->
                <!--                </div>-->
            </el-col>
            <el-col :span="7">
                <el-row style="margin-bottom: 20px">
                    <el-switch
                            v-model="hide"
                            active-text="Hide Empty Field">
                    </el-switch>
                </el-row>
                <el-row style="margin-bottom: 20px">
                    <el-button type="primary" v-loading="loading" @click="submitForm">Send</el-button>
                </el-row>
                <el-row style="margin-bottom: 20px">
                    Console:
                    <br/>
                    <div style="border: 1px solid gray;width: 100%;min-height: 420px;max-height: 420px;text-align: left;overflow-x: auto !important;overflow-y: auto !important"
                         ref="chatScroll">
                        <div v-for="(v,k) in info" style="text-align: left">
                            <div style="text-align: left">
                                <span class="log">[{{v.time}}][{{v.type}}][seq:{{k}}]</span>
                            </div>
                            <pre v-if="v.type==='send'">{{JSON.stringify(v.message, null, 2)}}</pre>
                            <div v-else>
                                <pre> <span class="log">request:</span><br/>{{JSON.stringify(v.message.request, null, 2)}}</pre>
                                <pre> <span class="log">requestHex:</span><br/>{{ v.message.requestHex }}</pre>
                                <pre> <span class="log">request.info:</span><br/>{{v.message.requestInfo.trim()}}</pre>
                                <pre> <span
                                        class="log">response:</span><br/>{{JSON.stringify(v.message.response, null, 2)}}</pre>
                                <pre> <span class="log">responseHex:</span><br/>{{ v.message.responseHex }}</pre>
                                <pre> <span
                                        class="log">response.info:</span><br/>{{v.message.responseInfo && v.message.responseInfo.trim()}}</pre>
                            </div>
                        </div>
                    </div>
                </el-row>
            </el-col>
        </el-row>
    </div>
</div>
</body>
<script src="/lib/vue/vue.js"></script>
<script src="/lib/element-ui/index.js"></script>
<script src="/lib/axios.min.js"></script>

<script>
    function groupBy(list, fn) {
        const groups = {}
        list.forEach(function (o) {
            const group = fn(o)
            groups[group] = groups[group] || []
            groups[group].push(o)
        })
        return groups
    }

    new Vue({
        el: '#app',
        data() {
            const validateName = async (rule, value, callback) => {
                let _this = this
                const res = await axios.get('/record/has?t=' + value);
                if (res.data.data !== 0) {
                    callback(new Error(''));
                } else {
                    callback();
                }
            };
            return {
                hide: false,
                select: null,
                loading: false,
                response: {},
                request: {},
                fields: [],
                info: [],
                options: [],
                multipleSelection: [],
                rules: {
                    name: [
                        {required: true, message: '', trigger: 'blur'},
                        {validator: validateName, trigger: 'blur'}
                    ],
                    lane: [
                        {required: true, message: '', trigger: 'blur'}
                    ],
                }
            }
        },
        methods: {
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            chatScrollTop() {
                setTimeout(() => {
                    //滚动条长度
                    const currentDistance = this.$refs.chatScroll.scrollHeight - this.$refs.chatScroll.clientHeight;
                    //当前滚动条距离顶部的距离
                    let currentScroll_y = this.$refs.chatScroll.scrollTop;
                    if (currentDistance > 0 && currentDistance - currentScroll_y > 10) {
                        currentScroll_y = Math.ceil((currentDistance - currentScroll_y) / 10) + currentScroll_y;
                        currentScroll_y = currentScroll_y > currentDistance ? currentDistance : currentScroll_y;
                        this.$refs.chatScroll.scrollTop = currentScroll_y;
                        this.chatScrollTop()
                    }
                }, 13);
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            formatDate: function (date) {
                const seperator1 = "-";
                const seperator2 = ":";
                let month = date.getMonth() + 1;
                let strDate = date.getDate();
                if (month >= 1 && month <= 9) {
                    month = "0" + month;
                }
                if (strDate >= 0 && strDate <= 9) {
                    strDate = "0" + strDate;
                }
                return date.getFullYear() + seperator1 + month + seperator1 + strDate + " " + date.getHours() + seperator2 + date.getMinutes() + seperator2 + date.getSeconds();
            },
            validateRequest() {
                if (!this.request[0]) {
                    this.$message({
                        type: 'error',
                        message: "message can not be empty!"
                    })
                    return false
                }
                return true
            },
            submitForm() {
                const _this = this;
                if (!this.validateRequest()) {
                    return
                }
                _this.loading = true
                _this.info.push({
                    type: 'send',
                    time: this.formatDate(new Date()),
                    message: JSON.parse(JSON.stringify(this.request))
                })
                _this.chatScrollTop()
                axios.post("/message/json", this.request)
                    .then(function (response) {
                        _this.loading = false
                        // response not implement yet
                        _this.info.push({
                            type: 'recv',
                            time: _this.formatDate(new Date()),
                            message: response.data
                        })
                        _this.chatScrollTop()
                        _this.response = response.data.request
                    })
                    .catch(function (error) {
                        _this.loading = false
                        console.log(error)
                        _this.$message({
                            type: 'error',
                            message: error.message
                        })
                    })
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            }
            ,
            getData: function () {
                let _this = this
                axios.get("/message/fields").then(response => {
                    _this.fields = []
                    for (const k in response.data) {
                        _this.fields.push(response.data[k])
                    }
                })
                axios.get("/message/templates").then(response => {
                    _this.options = []
                    for (const k in response.data) {
                        const v = {}
                        for (const j in response.data[k]) {
                            v[j] = response.data[k][j].value
                        }
                        _this.options.push(
                            {
                                label: k,
                                value: v
                            }
                        )
                    }
                })
            }
            ,
        },
        mounted() {
            this.getData()
        }
    })
</script>

</html>